PORT=9000
HOST_PORT=9000
NODE_ENV=development

DB_NAME=services
DB_USER=root
DB_PWD=
DB_HOST=localhost
DB_PORT=3306
DB_DIALECT=mysql
DB_LOGS=false

BROWSER_HEADLESS=true
QUERY_TIMEOUT_MS=120000
QUERY_RETRIES=3
QUESTION_LOOKUP_ATTEMPTS=5
CHALLENGE_TTL_MS=300000
PROXY_URLS=
PROXY_ROTATION=round_robin
RUN_LIVE_QUERIES=false
